body {
    padding: 9px;
}

div.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

div.screen * {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.panes {
    display: flex;
    flex-direction: row;

}

div.panes * {
    flex-grow: 1;
    flex-basis: 0;
}

#qrwrapper {
    text-align: center;
    /* width: 100%; */
}

#qrcode {
    padding: 6px;
    background-color: white;
    width: min-content;
    display: inline-block;
}

#qrcode-code {
    padding: 2px;
}